body {
  background-color: #edf1f4;
}
.head {
  background-color: #cad6e2;
  display: flex;
  justify-content: center;
}
.head .company-logo {
  width: 25%;
}
.head .links {
  width: 25%;
}

.head a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.head a:hover {
  background-color: #ddd;
  color: black;
}

.head a.active {
  background-color: #6d6e6f;
  color: white;
}
.head .search-container {
  width: 33.33%;
}
.head .search-container form {
  display: block;
}
.head input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  width: 85%;
  font-size: 17px;
  border: none;
}
.head .search-container button {
  float: none;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.head .links .login {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  font-size: medium;
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline-block */
  border-radius: 4px; /* Set border radius */
  cursor: pointer; /* Set cursor to pointer */
  transition: background-color 0.3s ease; /* Add transition */
}
.head .links .login:hover:not(.clicked) {
  background-color: #ddd; /* Change background color on hover */
  animation: pulse 0.5s infinite alternate; /* Add animation */
}

@keyframes pulse {
  from {
    transform: scale(1); /* Starting size */
  }
  to {
    transform: scale(1.1); /* Ending size */
  }
}

.head .links .login.clicked {
  animation: none; /* Disable animation when button is clicked */
}
.body {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  background-color: #b5daff;
  height: auto;
  width: 100%;
}
.body .carousel {
  padding-top: 5px;
  background-color: #c5bcbc;
  height: 300px;
  border: 1px solid #aaa;
  width: auto;
}

.body .hot-deals {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
  background-color: aquamarine;
  height: 200px;
  width: 100%;
  flex-direction: row;
}
.body .hot-deals div {
  border-radius: 25px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  background-color: azure;
  margin: 10px;
}
.body .featured-deals {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
  background-color: rgb(95, 117, 109);
  height: 200px;
  width: 100%;
  flex-direction: row;
}
.body .featured-deals div {
  border-radius: 10px;
  height: auto;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: azure;
  margin: 10px;
}
footer {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  background-color: #b5daff;
  height: auto;
  width: 100%;
}
